.btn-toggle {
    display: inline-flex;
    align-items: center;
    padding: .25rem .5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, .65);
    background-color: transparent;
    border: 0;
}

#nav {
    overflow: auto;
}

.btn-toggle:hover,
.btn-toggle:focus {
    color: rgba(0, 0, 0, .85);
    background-color: #d2f4ea;
}

.btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
    color: rgba(0, 0, 0, .85);
}

.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
}

.scrollarea {
    overflow-y: auto;
}

.fw-semibold { font-weight: 600; }
.lh-tight { line-height: 1.25; }

/*#chatList {*/
/*    !*width: 380px;*!*/
/*    !*height: 540px;*!*/
/*    !*overflow-x: auto;*!*/
/*    overflow-y: scroll;*/
/*}*/

/*#friendList {*/
/*    !*width: 380px;*!*/
/*    !*height: 540px;*!*/
/*    !*overflow-x: auto;*!*/
/*    overflow-y: scroll;*/
/*}*/

#messagesContainer {
    position: sticky;
    overflow-y: hidden;
    height: 90%;
}

#messagesUl {
    /*position: sticky;*/
    /*padding: .75rem;*/
    overflow-y: scroll;
    background-color: #eceff1;
    height: 480px;
}

/*#loggingColumn {*/
/*    height: 250px;*/
/*    overflow: scroll;*/
/*}*/

#changeLog {
    width: 100%;
    height: 90%;
    float: top;
    overflow: scroll;
}

#inputBox {
    width: 100%;
    height: 10%;
    float: bottom;
}

.chat-box {
    list-style: none;
    padding: 0 0;
    margin: 0 .5rem;
}

.chat-box li {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: flex-end;
}

.chat-box .from {
    display: inline-block;
    position: relative;
    font-size: 80%;
    color: #777;
    padding-left: 1rem;
    /*top: .5rem;*/
    float: right;
    white-space: nowrap;
}

.chat-box .right {
    align-items: flex-end;
    /*align-items: end;*/
    justify-content: flex-end;
}

.chat-box li.ml div {
    display: block;
}

.chat-box li.ml {
    margin-top: .25rem;
    margin-bottom: .75rem;
}

.chat-box .left .bubble {
    background-color: #c5e1a5;
}

.chat-box .right .bubble {
    background-color: #fafafa;
}

.chat-box .center {
    background-color: #fafafa;
    position: center;
    text-align: center;
    max-width: max-content;
    min-width: 9rem;
    height: auto;
    padding: .75rem .5rem .75rem 1.25rem;
    margin: 0;
    border-radius: .5rem;
    box-shadow: 0 1px 0.5px rgb(0 0 0 / 12%);
}

.chat-box .center #message-content {
    position: center;
    text-align: center;
}

.chat-box .bubble {
    display: flex;
    position: relative;
    max-width: 40rem;
    min-width: 9rem;
    height: auto;
    padding: .75rem .5rem .75rem 1.25rem;
    margin: 0;
    text-align: left;
    border-radius: .5rem;
    box-shadow: 0 1px 0.5px rgb(0 0 0 / 12%);
}